In [2]:
import numpy as np
import pandas as pd
import os
from PIL import Image
from numpy import savetxt

LOAD IMAGE FILES FOR TRAINING

In [3]:
def ListofFiles(Dir):
    Files = []
    for root, dir_name, file_name in os.walk(Dir): 
#root store address till directory, dir_name stores directory name # file_name stores file name
        for name in file_name:
            fullName = os.path.join(root, name)
            Files.append(fullName)
    return Files

CREATE FILE LIST

In [4]:
FileList = ListofFiles('FerDataset/train/')

In [5]:
len(FileList)

24175

OPEN IMAGES AND CONVERT TO ARRAY

In [6]:
pixels = []
for file in FileList:
    Im = Image.open(file)
    pixels.append(list(Im.getdata()))

SAVE LABEL FOR EMOTIONS

In [7]:
label = []
for file in FileList:
    split_path_1 = file.split("/")[2]
    split_path_2 = split_path_1.split("\\")[0]
    label.append(split_path_2)

In [8]:
len(label)

24175

In [9]:
label_array = np.asarray(label)
label_array.flatten()
img_label = pd.DataFrame(label_array)

In [10]:
pixels_array = np.asarray(pixels)
pixels_array.flatten()
pixel_img = pd.DataFrame(pixels_array) 
# pixels_arr.stack().reset_index()   
# pixel = pd.DataFrame(pixels_arr)
# pixel_img['emotion'] = label

In [11]:
img_label['emotion'] = img_label

In [12]:
img_label

       0 emotion
0      0       0
1      0       0
2      0       0
3      0       0
4      0       0
...   ..     ...
24170  4       4
24171  4       4
24172  4       4
24173  4       4
24174  4       4

[24175 rows x 2 columns]

In [13]:
pixel_img['pixels'] = pixel_img.apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

In [12]:
pixel_img

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,pixels
0,211,215,220,221,219,216,213,210,207,205,...,170,168,162,170,169,160,159,156,152,211 215 220 221 219 216 213 210 207 205 202 20...
1,29,25,58,103,129,134,141,154,157,159,...,152,144,137,118,83,32,31,79,65,29 25 58 103 129 134 141 154 157 159 166 164 1...
2,122,159,135,51,82,96,78,122,168,169,...,46,40,29,36,49,47,47,53,54,122 159 135 51 82 96 78 122 168 169 165 166 16...
3,229,229,224,226,211,129,79,55,13,22,...,150,204,215,214,220,220,223,202,126,229 229 224 226 211 129 79 55 13 22 24 17 19 1...
4,117,113,109,94,72,62,64,65,68,74,...,106,93,55,30,30,23,49,163,179,117 113 109 94 72 62 64 65 68 74 187 213 209 2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,112,113,114,115,115,114,115,115,115,114,...,136,97,82,114,112,86,61,31,81,112 113 114 115 115 114 115 115 115 114 109 10...
596,206,188,194,168,105,72,35,48,39,54,...,98,93,85,85,76,88,88,80,98,206 188 194 168 105 72 35 48 39 54 67 77 80 88...
597,28,53,83,91,102,70,33,16,51,100,...,186,171,143,129,102,29,23,39,39,28 53 83 91 102 70 33 16 51 100 111 139 162 17...
598,65,85,96,84,21,23,30,31,35,29,...,173,122,36,40,44,134,190,210,208,65 85 96 84 21 23 30 31 35 29 28 27 38 88 117 ...
599,100,86,79,47,23,25,20,23,25,26,...,127,127,128,129,130,128,126,126,128,100 86 79 47 23 25 20 23 25 26 36 40 53 58 61 ...

SAVE DATAFRAME

In [16]:
images = pd.DataFrame(pixel_img['pixels'])

In [17]:
final_train = pd.merge(img_label, images, left_index=True, right_index=True, how="outer")

In [35]:
train = ['Training', 'PublicTest', 'PrivateTest']
train_numbers = [12087, 6044, 6044]

train_column = sum([[s] * n for s, n in zip(train, train_numbers)], [])

In [36]:
final_train['Usage'] = train_column

In [37]:
final_train = pd.DataFrame(final_train[['emotion', 'pixels', 'Usage']])

In [38]:
final_train = final_train.reindex(np.random.permutation(final_train.index))

SAVE CSV

In [40]:
final_train.to_csv("trainingsets.csv")